<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="styles.css" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
  <title>A place for Cat people</title>
</head>

<body>
  <h1>A place for Cat people</h1>
  <div id = "page">
  <div id = "app">
    <div v-if="loading">
      <p>Loading...</p>
    </div>
    <div v-else>
      
      <h2>{{current.safe_title}}</h2>
      <img v-bind:src="current.image" v-bind:alt="current.alt" id = "catPic">
      <p>{{current.alt}}</p>
      <p><i>#{{current.num}}, drawn on {{current.day}} {{month}} {{current.year}}</i></p>
      <p>
        <button v-on:click="previousCat">Previous</button>
        <button v-on:click="nextCat">Next</button>
      </p>
      <button v-on:click="randomCat">Random</button>
      <star-rating active-color="red" current-rating = "hidden" @rating-selected ="setRating"></star-rating>
      <p>Average Rating: {{averageRating}}</p>
      
      <h3>Add a Comment</h3>
      <form v-on:submit.prevent="addCat">
        <input v-model="addedName" placeholder="Name"></p>
        <textarea v-model="addedComment"></textarea>
        <br />
        <button type="submit">Comment</button>
      </form>
      
      <h3>Comments</h3>
      <div v-for="comment in comments[number]">
        <hr>
        <p>{{comment.text}}</p>
        <p><i>-- {{comment.author}}</i></p>
        <p><i>-- {{comment.date}}</i></p>
      </div>
    </div>
  </div>
  </div>
  <script src="moment.js"></script>
  <script src="https://unpkg.com/vue-star-rating/dist/star-rating.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.2/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="script.js"></script>
</body>

</html>
